.modal-tos{
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.tos-content{
    background-color: transparent;
}

.tos-list{
    padding-left: 1.2rem;
}

.tos-title{
    text-align: center;
    font-size: 1.4rem;
}

.tos-subtitle{
    text-align: center;
    font-size: 1.2rem;
}

.tos-btn-container{
    text-align: center;
}

.tos-btn{
    margin: 10px 0;
    font-size: 1.1rem;
}

.tos-container{
    max-width: 850px;
    position: relative;
}

.tos-close-btn{
    position:absolute;
    top: 0;
    right: 0;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 15px;
    font-size: 1.1rem;
    background-color: brown;
    transition: all 0.15s ease-in;
}

.tos-close-btn:hover{
    background-color: rgb(168, 60, 60);
    cursor: pointer;
    transform: scale(1.1);
}

@media (max-width:1400px) {
    .tos-container{
        max-height: 500px;
        margin: 0 12px;
        overflow-y: auto;
    } 
}

@media (max-width: 800px) {
    :root{
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    :root{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    :root{
        font-size: 10px;
    }
}