<section class="question-container">
    <h2 class="question game-title" id="question">¿Estás listo para empezar a probar tus conocimientos?</h2>
    <div class="answers">
        <div class="answer active game-text" id="answer-0"><strong>a. </strong><span id="0" class="game-text">Si</span></div>
        <div class="answer active game-text" id="answer-1"><strong>b. </strong><span id="1" class="game-text">Si</span></div>
        <div class="answer active game-text" id="answer-2"><strong>c. </strong><span id="2" class="game-text">Si</span></div>
        <div class="answer active game-text" id="answer-3"><strong>d. </strong><span id="3" class="game-text">Si</span></div>
    </div>
</section>