minigames/settings.py
# Archivos y directorios generados por Python
__pycache__/
*.pyc
migrations/

# Directorios de entornos virtuales
venv/
.venv/

# Base de datos local de Django
db.sqlite3

# Archivos de la IDE
.vscode/

# Archivos de logs
*.log