{% extends 'base.html' %}
{% load static %}
    {% block head%}
        {{block.super}}
        <link rel="stylesheet" href="{% static 'modal.css' %}">
        <link rel="stylesheet" href="{% static 'css/timer.css' %}">
    {% endblock %}
    {% block content%}
    {% include 'modal_ranking.html' %}
    <div class="game">
        {% block game%}
        {% endblock %}
    </div>
    
    <div class="char">
        {% include 'dialogue.html' %}
    </div>
    {% endblock%}

    {% block script %}
        {{ block.super }}
        <script src="{% static 'modal_scripts.js' %}"></script>
        <script src="{% static 'js/timer-script.js' %}"></script>
    {% endblock %}
