{% extends "base.html" %}
{% load static%}

{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'css/pets.css' %}">
{% endblock %}


{% block title %}Inicio | Un@e Play{% endblock %}

{% block content %}
    <main class="main-content">
        <section class="hero-section">
            <h1 class="hero-title">Bienvenido a Unae Play</h1>
            <p class="hero-subtitle">Tu plataforma de juegos favorita</p>
        </section>

        {% include 'landing/prizes.html' %}
        <!-- añadimos el apartado de juegis -->
        {% include 'landing/games_play.html' %}
        <!-- añadios el apartdado de descripcion de las mascotas de las facultades -->
        {% include 'landing/pets.html' %}
    </main>
{% endblock %}
