{% load static %}
<div class="loading-screen">
    <div class="loading-div-box">
        <div class="loading-content">
            <img class="loading-img" src="{% static 'img/loading1.png' %}" alt="logosponsor">
            <div class="loading-icon">
                <i class="fa-solid fa-spinner fa-spin-pulse" style="color: #e6e9f0;"></i>
            </div>
            <p class="loading-text">Cargando juego</p>
            <button style="display: none;" class="loading-button" type="button">Empezar</button>
        </div>
    </div>
</div>