<div id="rankingModal" class="modal">
    <div class="modal-content">
      <button class="close-btn">&times; Salir</button>

      <div class="select-container">
        <input type="hidden" id="aux-input">
        <label for="rankingFilter">Filtrar ranking:</label>
        <select id="rankingFilter">
          <option value="score">Tu puntaje</option>
          <option id="game" value="game"></option>
          <option value="global">Top Global</option>
        </select>
      </div>

      <!--Puntaje del jugador y palabra en los juegos wordle y ahorcado-->
      <section class="score-screen">
        <!--Aqui se muestra un icono dependiendo del resultado-->
        <div class="score-icon"><i class="fa-solid fa-crown fa-bounce" style="color: #edca1d;"></i></div>
        <!--Aqui va mensaje dependiendo del resultado-->
        <h2 class="score-title">Felicidades Miguel, ganaste esta partida</h2>
        <!--Aqui va la palabra (solo en wordle y ahorcado)-->
        <h3 class="word-title" style="display: none;">Palabra correcta:</h3>
        <p class="word" style="display: none;">Termita</p>
        <!--Puntaje del jugador en la partida terminada-->
        <p class="player-score">Tu puntaje: </p>

      </section>
      <section class="ranking-table" style="display: none;">
        <!--Se utiliza la misma tabla para mostrar el ranking-->
        <h2 class="table-title">Ranking global</h2>
        <table id="rankingTable">
          <thead>
            <tr>
              <th>Posición</th>
              <th>Jugador</th>
              <th>Puntaje</th>
            </tr>
          </thead>
          <tbody>
            <!-- Datos estáticos de ejemplo -->
            <tr>
              <td><i class="fa-solid fa-1 fa-beat" style="color: #d4ab16;"></i></td>
              <td id="player-1">Miguel</td>
              <td id="score-1">1500</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-2" style="color: #a6a6a6;"></i></td>
              <td id="player-2">MiguelCuentaSecundaria</td>
              <td id="score-2">1400</td>
            </tr>
            <tr>
              <td><i class="fa-solid fa-3" style="color: #533d0e;"></i></td>
              <td id="player-3">Miguel@360</td>
              <td id="score-3">1300</td>
            </tr>
            <tr>
              <td>4</td>
              <td id="player-4">W12</td>
              <td id="score-4">1250</td>
            </tr>
            <tr>
              <td>5</td>
              <td id="player-5">Nathaly</td>
              <td id="score-5">1000</td>
            </tr>
            <tr>
              <td>6</td>
              <td id="player-6">Nahuel</td>
              <td id="score-6">912</td>
            </tr>
            <tr>
              <td>7</td>
              <td id="player-7">Mario</td>
              <td id="score-7">895</td>
            </tr>
            <tr>
              <td>8</td>
              <td id="player-8">Cami</td>
              <td id="score-8">620</td>
            </tr>
            <tr>
              <td>9</td>
              <td id="player-9">Sol</td>
              <td id="score-9">213</td>
            </tr>
            <tr>
              <td>10</td>
              <td id="player-10">Alexis</td>
              <td id="score-10">100</td>
            </tr>
          </tbody>
        </table>
      </section>

    </div>
  </div>