{% extends 'base_game.html' %}
{% load static%}

{% block head%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tateti/css/tablero.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% endblock %}
{% block title %} TaTeTi {% endblock %}

{% block game %}
    <div class="game-box">
        <!--Muestra la dificultad actual// es temporal, borrar en desarrollo-->
        <p class="level">Facil</p>
        <!--lugar para el tablero-->
        {% include 'tateti/tablero.html' %}
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'tateti/js/play_game.js' %}"></script>
{% endblock %}

    
 