{% extends 'base_game.html' %}
{% load static%}

{% block head%}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'tateti/css/tablero.css' %}">
    <link rel="stylesheet" href="{% static 'tateti/css/ui-components.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

{% endblock %}
{% block title %} TaTeTi {% endblock %}

{% block game %}
    <div class="game-box">
        <!--Muestra la dificultad actual// es temporal, borrar en desarrollo-->
        <div class="header-game">
            <p class="level">Nivel: Facil</p>
            <button class="reset">Reiniciar</button>
            <p class="score">Puntaje: 0</p>
        </div>
        <!--lugar para el tablero-->
        {% include 'tateti/tablero.html' %}
        <div class="footer-game">
            <button class="giveup">Me rindo</button>
            <button class="next-level hidden">Siguiente Nivel</button>
            <button class="try-again hidden">Reintentar</button>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'tateti/js/play_game.js' %}"></script>
{% endblock %}

    
 