<div class="keyboard">
    <div class="row-keyboard">
        <button class="key game-keyboard-key">q</button>
        <button class="key game-keyboard-key">w</button>
        <button class="key game-keyboard-key">e</button>
        <button class="key game-keyboard-key">r</button>
        <button class="key game-keyboard-key">t</button>
        <button class="key game-keyboard-key">y</button>
        <button class="key game-keyboard-key">u</button>
        <button class="key game-keyboard-key">i</button>
        <button class="key game-keyboard-key">o</button>
        <button class="key game-keyboard-key">p</button>
    </div>
    <div class="row-keyboard">
        <button class="key game-keyboard-key">a</button>
        <button class="key game-keyboard-key">s</button>
        <button class="key game-keyboard-key">d</button>
        <button class="key game-keyboard-key">f</button>
        <button class="key game-keyboard-key">g</button>
        <button class="key game-keyboard-key">h</button>
        <button class="key game-keyboard-key">j</button>
        <button class="key game-keyboard-key">k</button>
        <button class="key game-keyboard-key">l</button>
        <button class="key game-keyboard-key">ñ</button>
    </div>
    <div class="row-keyboard">
        <button class="key special">Enter</button>
        <button class="key game-keyboard-key">z</button>
        <button class="key game-keyboard-key">x</button>
        <button class="key game-keyboard-key">c</button>
        <button class="key game-keyboard-key">v</button>
        <button class="key game-keyboard-key">b</button>
        <button class="key game-keyboard-key">n</button>
        <button class="key game-keyboard-key">m</button>
        <button class="key special">⌫</button>
    </div>
</div>