<div class="keyboard">
    <div class="row-keyboard">
        <button class="key game-keyboard-key">Q</button>
        <button class="key game-keyboard-key">W</button>
        <button class="key game-keyboard-key">E</button>
        <button class="key game-keyboard-key">R</button>
        <button class="key game-keyboard-key">T</button>
        <button class="key game-keyboard-key">Y</button>
        <button class="key game-keyboard-key">U</button>
        <button class="key game-keyboard-key">I</button>
        <button class="key game-keyboard-key">O</button>
        <button class="key game-keyboard-key">P</button>
    </div>
    <div class="row-keyboard">
        <button class="key game-keyboard-key">A</button>
        <button class="key game-keyboard-key">S</button>
        <button class="key game-keyboard-key">D</button>
        <button class="key game-keyboard-key">F</button>
        <button class="key game-keyboard-key">G</button>
        <button class="key game-keyboard-key">H</button>
        <button class="key game-keyboard-key">J</button>
        <button class="key game-keyboard-key">K</button>
        <button class="key game-keyboard-key">L</button>
        <button class="key game-keyboard-key">Ñ</button>
    </div>
    <div class="row-keyboard">
        <button class="key special">Enter</button>
        <button class="key game-keyboard-key">Z</button>
        <button class="key game-keyboard-key">X</button>
        <button class="key game-keyboard-key">C</button>
        <button class="key game-keyboard-key">V</button>
        <button class="key game-keyboard-key">B</button>
        <button class="key game-keyboard-key">N</button>
        <button class="key game-keyboard-key">M</button>
        <button class="key special">⌫</button>
    </div>
</div>