{% extends 'base_game.html' %}
{% load static %}


{% block head %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'wordle/css/style.css' %}">
{% endblock %}

{% block tittle %} Wordle {% endblock %}

{% block game %}
    
    <div class="box">
        <h1 class="game-title">Wordle</h1>
        <input type="text" class="my-input" autocomplete="off" inputmode="none">
        <div class="game-header">
            <p class="level"></p>
            
            {% include 'timer.html'%}    
            
        </div>
        <div class="container">
            {% include 'wordle/word_board.html' %}
            {% include 'wordle/keyboard.html' %}
            <button class="new-word reset" type="button"><i class="fa-solid fa-rotate-right" style="color: #fff; font-size: 26px;"></i></button>
        </div>
    </div>
{% endblock %}

{% block footer %}
 {{block.super}}
{% endblock %}

{% block audio %}
    <audio src="{% static 'wordle/music/5 audio.wav' %}"></audio>
{% endblock %}

{% block script %}
    {{block.super}}
    <script src="{% static 'wordle/js/play_game.js' %}"></script>
{% endblock %}