*{
    margin: 0;
}

/* todo el contenido de la pagina esta envuelto en el section, a considerar:
display:flex , flex-direction: column y min-height: 100vh son indispensables 
para que el footer pueda quedar debajo */
.section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos temporales, se pueden cambiar todos sin problema sin afectar a la funcionalidad */
.header{
    height: 50px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 15px;
    font-size: 50px;
}

/*flex-grow: 1 perimte que el contenido del main ocupe toda la pantalla restante
y de esta forma el footer quedara debajo siempre  */
.main{
    flex-grow: 1;
}

/* Estilos temporales, ninguno es necesario para que el footer quede debajo de la pagina */
.footer{
    height: 50px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 15px;
    font-size: 50px;
}

/* Estilos para base_game */
.character{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 350px;
    background-color: black;
    width: 100%;
}

.dialog-container{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.dialog-text{
    flex-grow: 3; 
    flex-shrink: 3;
    font-size: 50px;
    text-align: right;
    margin: 0 50px;
    border: 2px solid #000;
    border-radius: 12px;
    min-height: 200px;
    padding: 0 20px;
    box-shadow: 0 0 15px #333;
}

.dialog-char{
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 30px;
    min-width: 30%;
}

/* Los juegos siempre estaran centrados */
.game{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

