{% extends 'base_game.html' %}
{% load static %}

{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buscaminas/css/minesweeper.css' %}">
{% endblock %}

{% block title %} Buscaminas {% endblock %}

{% block game %}
    <div class="body">
        <h1 class="text">Buscaminas</h1>
        <div class="grid" id="grid"></div>
        <br>
        <br>
        <button id="reset-btn">Reiniciar</button>
    </div>
{% endblock %}

{% block audio %}
    <audio id="bg-music" muted loop hidden preload="metadata">
        <source src="{% static 'music/buscaminas.mp3' %}" type="audio/mpeg">
    </audio>
{% endblock %}

{% block script %}
{{block.super}}
    <script src="{% static 'buscaminas/js/gameData.js' %}"></script>
    
{% endblock %}
