<form class="form" action="" method="POST">
    {% csrf_token %}
    <h2 class="form-title game-title">Inicar Sesion</h2>
    <label class="form-label game-text" for="email">Correo electronico</label>
    <input class="form-input" name="email" id="email" type="email" required>
    <label class="form-label game-text" for="password">Contraseña</label>
    <input class="form-input" id="password" name="password" type="password" required>
    <div class="submit-btn-container">
        <button class="form-submit game-text" type="submit">Ingresar</button>
    </div>
    <div class="form-footer">
        <p class="game-text tos-mod">Aún no tienes una cuenta?</p>
        <p><a class="form-link" href="/accounts/register">Registrate</a></p>
    </div>
</form>