<article class="form tos-container">
    <span class="tos-close-btn">X</span>
    <h2 class="tos-title game-title">Terminos y condiciones del servicio</h2>
    <h3 class="tos-subtitle game-text">Lea atentamente nuestros terminos y condiciones antes de registrarse en Unae Play</h3>
    <p class="tos-p game-text">Al hacer uso de esta plataforma digital didáctica, usted acepta los términos y condiciones relacionados con la recopilación, uso y manejo de sus datos personales, considerando los siguientes términos y condiciones:</p> 
    <ol class="tos-list game-text">
        <li class="tos-list-item">Toda la información personal proporcionada  será tratada con estricta confidencialidad y únicamente con fines académicos, en el marco de un Proyecto de Investigación y Extensión Universitaria, llevado adelante por los alumnos del Segundo Año de la Carrera de Análisis de Sistema de la FACAT - UNAE.</li> 
        <li class="tos-list-item">El acceso a los datos será exclusivo para los estudiantes del Segundo Año de la carrera de Análisis de Sistemas de la FACAT, quienes utilizarán las informaciones recibidas a través de la plataforma digital, únicamente durante la fase de presentación hasta la conclusión final del proyecto, por lo que los datos son de acceso restringido.</li> 
        <li class="tos-list-item">Los estudiantes y docentes involucrados en el Proyecto, están comprometidos a resguardar la privacidad de los datos y a no divulgarlos.</li> 
        <li class="tos-list-item">Se hace constar que una vez concluida la fase de presentación del proyecto, todos los datos recopilados serán eliminados permanentemente del sistema y no serán almacenados para ningún otro fin por lo que se solicitará únicamente la dirección de correo electrónico válida con el único propósito de notificar a quienes resulten ganadores/as de algún premio.</li> 
        <li class="tos-list-item">No se utilizará el correo electrónico para envío de publicidad, encuestas ni ningún otro tipo de comunicación posterior.</li>
        <li class="tos-list-item">Cada usuario podra crear e ingresar y utilizar el sistema con multiples cuentas, pero solo es elegible para ganar un unico premio.</li>
    </ol> 
    <p class="tos-p game-text">Al continuar con el uso de esta plataforma, usted declara haber leído y comprendido estos términos, y brinda su consentimiento para que sus datos sean utilizados bajo las condiciones aquí expresadas.</p>
    <div class="tos-btn-container">
        <button class="form-submit tos-btn">Aceptar términos</button>
    </div>
</article>