<section class="mascotas-section">
    <h2 class="mascotas-title">
        <i class="fas fa-paw"></i> MASCOTAS <span>DE LAS FACULTADES</span>
    </h2>
    <div class="mascotas-container">
        <!-- Mascota 1 -->
        <div class="mascota-card">
            <img src="imagenes/mascota1.png" alt="Mascota Facultad 1">
            <h3>Firu de Ingeniería</h3>
            <p>El perro que ladra hasta en binario. 🐶💻</p>
        </div>

        <!-- Mascota 2 -->
        <div class="mascota-card">
            <img src="imagenes/mascota2.png" alt="Mascota Facultad 2">
            <h3>Michu de Medicina</h3>
            <p>Este gato receta siestas obligatorias. 😺💉</p>
        </div>

    </div>
</section>