{% load static %}
<section id="sponsors-section" class="sponsors-section">
    <h2 class="sponsors-title">Nuestros Patrocinadores</h2>
    
    <div class="sponsors-grid">
        <a href="https://www.paranabroker.com.py" target="_blank" class="sponsor-card primary-sponsor">
            <p class="sponsor-level">Paraná Broker</p>
            <div class="sponsor-logo">
                <img src="{% static 'img/logo.png' %}" alt="Logo de Paraná Broker - Patrocinador Principal" loading="lazy" decoding="async">
            </div>
            <p class="sponsor-slogan">Tu aliado de confianza.</p>
        </a>

        <!-- <article class="sponsor-card gold-sponsor">
            <h3 class="sponsor-level">Gold Supporter</h3>
            <div class="sponsor-logo">
                <img src="assets/logos/gold_ventures_logo.png" alt="Logo de Gold Ventures">
            </div>
        </article>

        <article class="sponsor-card silver-sponsor">
            <h3 class="sponsor-level">Silver Contributor</h3>
            <div class="sponsor-logo">
                <img src="assets/logos/silver_tech_logo.png" alt="Logo de Silver Tech Solutions">
            </div>
        </article>
        <article class="sponsor-card bronze-sponsor">
            <h3 class="sponsor-level">Bronze Backer</h3>
            <div class="sponsor-logo">
                <img src="assets/logos/bronze_inc_logo.png" alt="Logo de Bronze Inc.">
            </div>
        </article>
         -->
    </div>

    <!-- <a href="contact.html" class="become-sponsor-btn">Become a Sponsor!</a> -->
</section>